body 
{ 
    background-color: #1E1E2E;
    color: #FFFFFF;
    line-height: 1.6;
    text-align: center;
    background-image: url('background6.jpg');
    background-size: cover;
    background-position: center; 
    height: 100vh;  
    margin: 0; 
    scroll-behavior: smooth;
}

html
{
    scroll-behavior: smooth;
}


section
 {
    opacity: 1;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


section.visible 
{
    opacity: 1;
    transform: translateY(0);
}

.hidden 
{
    display: none;
}


header 
{
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px; 
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 60px;
}

header img 
{
   
    border-radius: 50%;
  }

#about-me h2 
{
    color: #6f42c1;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    text-align: center;  
    background-color:#E3F2FD;
    width: 20%; 
    height: 35px;
    margin: 100px auto 15px;
}



.sections-container 
{
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}


.aboutme
{
    background-color:#E3F2FD;
    color: #333;
    font-family: "Roboto", sans-serif;
    text-align: left; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin-bottom: 150px; 
}

.aboutme h3
{
    text-align: center; 
    margin-bottom: 15px; 
    color: #6f42c1; /* Purple */
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
}

.project-container
{
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}

.project
{
    background-color:#E3F2FD;
    color: #333;
    font-family: "Roboto", sans-serif;
    text-align: left; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
    margin-bottom: 150px; 
}

.project h3
{
    color: #6f42c1;
    font-family: 'Merriweather', serif;
    text-align: center; 
}

#projects h2 
{
    color: #6f42c1;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    text-align: center;  
    background-color:#E3F2FD;
    width: 20%; 
    height: 35px;
    margin: 50px auto 15px;
}



.skills-container 
{
    
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px; /* Space between cards */
    justify-content: center;
    align-items: center;
    max-width: 900px; /* Set max width for better centering */
    margin: 0 auto; /* Center the grid */
}

.skill {
    background-color:#E3F2FD;
    color: #333;
    font-family: "Roboto", sans-serif;
    text-align: left; 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px;
}

.skill h3 
{
    color: #6f42c1;
    font-family: 'Merriweather', serif;
    text-align: center; 
}

.skill p
 {
    font-size: 1em;
    color: #666;
}

#skills h2 
{
    color: #6f42c1;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    text-align: center;  
    background-color:#E3F2FD;
    width: 20%; 
    height: 35px;
    margin: 50px auto 15px;
}

#skills p
{
    display: grid;
    place-items: center;
    color: #6f42c1;
}





#contact
 {
    color: #FFFFFF;
    text-align: left;
    padding: 40px;
}



.navbar
{
    padding: 20px;
}


.navbar-nav 
{
    display: flex;
    gap: 20px;
}


.nav-link 
{
    color: #6f42c1;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: uppercase;



}



@media (max-width: 576px)
 {
    

    header 
    {
        padding: 15px; 
        flex-direction: column; 
        text-align: center;
    }

    .text-container h1 
    {
        font-size: 24px; 
    }

    .text-container p 
    {
        font-size: 14px; 
    }

    header img 
    {
        width: 150px; 
        height: 150px; 
    }

    .navbar
     {
        font-size: 14px;
    }

    .navbar-nav
    {
        flex-direction: column;
    }

    .project img
     {
        width: 100%;
        height: auto;
    }


    #about-me h2 
    {
        font-size: 1.2em; 
        height: 30px; 
        margin: 20px auto 15px; 
        justify-content: center;
        padding-left: 15px;
        flex-wrap: wrap;
        width: 400px;
        
    }

    .sections-container 
    {
        display: flex;
        justify-content: center; 
        gap: 15px; 
        flex-wrap: wrap; 
        margin: 10px; 
        padding-left: 15px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);

    }

    #projects h2
     {
        font-size: 1.2em;
        height: 30px; 
        margin: 20px auto 15px; 
        justify-content: center;
        padding-left: 15px;
        flex-wrap: wrap;
        width: 400px;
    }

    .project-container
     {
        display: flex;
        justify-content: center;  
        flex-wrap: wrap; 
        margin: 10px; 
        padding-left: 15px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }

    #skills h2 
    {
        font-size: 1.2em;
        height: 30px; 
        margin: 20px auto 15px; 
        justify-content: center;
        padding-left: 15px;
        flex-wrap: wrap;
        width: 400px;
    }

    .skills-container 
    {
        display: flex;
        justify-content: center;  
        flex-wrap: wrap; 
        margin: 10px; 
        padding-left: 15px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }




}


@media  (max-width: 768px) 
{
    header
     {
        padding: 15px;
        flex-direction: column; 
        text-align: center;
    }

    .text-container h1 
    {
        font-size: 30px; 
    }

    .text-container p 
    {
        font-size: 14px; 
    }

    header img 
    {
        width: 150px; 
        height: 150px;
    }

    .navbar
     {
        font-size: 14px; 
    }

    .navbar-nav 
    {
        flex-direction: column; 
    }

    .project img 
    {
        width: 100%;
        height: auto;
    }

    .sections-container 
    {
        display: flex;
        justify-content: center; 
        gap: 15px; 
        flex-wrap: wrap; 
        margin: 10px; 
    }

    .sections-container section {
        width: 50%; 
        margin: 10px 0;
        padding: 15px; 
    }

    #skills h2 
    {
        font-size: 1.2em;
        height: 30px; 
        margin: 20px auto 15px; 
        justify-content: center;
        padding-left: 15px;
        flex-wrap: wrap;
        width: 400px;
    }

    .skills-container 
    {
        display: flex;
        justify-content: center;  
        flex-wrap: wrap; 
        margin: 10px; 
        padding-left: 15px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }
}


@media (max-width: 992px)
 {
    header 
    {
        padding: 20px; 
        flex-direction: row; 
        justify-content: center; 
        text-align: left; 
    }

    .text-container h1 
    {
        font-size: 36px; 
    }

    .text-container p 
    {
        font-size: 18px; 
    }

    header img 
    {
        width: 180px; 
        height: 180px; 
    }

    .navbar 
    {
        font-size: 20px; 
    }

    .navbar-nav
     {
        flex-direction: column; 
        justify-content: center; 
    }

    .project img 
    {
        width: 100%; 
        height: auto; 
    }

    .sections-container 
    {
        display: flex;
        justify-content: center; 
        gap: 30px;
        flex-wrap: wrap; 
        margin: 20px; 
    }

    .sections-container section 
    {
        width: 30%; 
        margin: 20px 0; 
        padding: 15px;

        
    }

    #skills h2 
    {
        font-size: 1.2em;
        height: 30px; 
        margin: 20px auto 15px; 
        justify-content: center;
        padding-left: 15px;
        flex-wrap: wrap;
        width: 400px;
    }

    .skills-container 
    {
        display: flex;
        justify-content: center;  
        flex-wrap: wrap; 
        margin: 10px; 
        padding-left: 25px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    }


}
